.display-header{
    text-align: center;
    padding:15px;
    font-size: xx-large;
    font-family: "Monaco" , monospace;
    font-weight: bold;
}

.display-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.video {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.song-favorite-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Monaco" , monospace;
    font-size: medium;
    font-weight: bold;
    margin-top: 40px;
}